* {
    margin: 0px;
    padding: 0px;
    font-family: Suisse Intl, Helvetica Neue, Helvetica, Arial, sans-serif;
}

#image-banner>img {
    width: 100%;
    border-bottom: 1px solid black;
}

body {
    height: 500vh;
}

#image-banner+div {
    margin-top: 75px;
    height: 600px;
    margin-bottom: 100px;
}

.product-list {
    height: 300px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scroll {
    height: 300px;
    /* border: 2px solid green; */
    width: 2000px;
    display: flex;
}

.product-list::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}

.scroll>div {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 100px;
}

.scroll>div>h3 {
    bottom: -5px;
    font-weight: 400;
    left: 100%;
    line-height: 1;
    padding: 8px;
    position: absolute;
    text-transform: uppercase;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    width: 300px;
    font-size: 23px;
}

.scroll>img {
    height: 100%;
    border-right: 1px solid black;
}

.product-list-2 {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-list-2::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none;
}


.product-list-2>div {
    display: flex;
    width: 4360px;
    height: 365px;
    border-top: 1px solid black;
}

.product-list-2>div>div {
    border-right: 1px solid black;
    width: 436px;
    height: 100%;
}

.based {
    background-color: #f5f4f2;
}

.product-list-2 p {
    font-size: 70px;
    letter-spacing: -2px;
    margin: 30px;
}

.product-list-2 img {
    position: relative;
    height: 262px;
    width: 363px;
    left: 72px;
    top: 103px;
}

.product-list-2 h3 {
    position: relative;
    top: 30px;
    padding-left: 30px;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
}

.count8>div {
    width: 3488px;
}

.border-bottom {
    border-bottom: 1px solid black;
    margin-bottom: 60px;
}

#product-features {
    border: 1px solid black;
    display: flex;
    height: auto;
}

#features {
    border-right: 1px solid black;
    width: 70%;
    height: 550px;
    display: flex;
    justify-content: flex-end;
    background-color: #f5f4f2;
    align-items: center;
}

#features>ul {
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

#features li {
    width: 25%;
    height: 80%;
    margin: auto;
}

#features h2 {
    font-size: 110px;
}

#features h4 {
    font-size: 32px;
    margin-bottom: 10px;
    font-weight: 400;
    letter-spacing: .01em;
}

#features p {
    font-size: 14px;
    line-height: 24px;
}

#signup {
    width: 30%;
    background-color: #cafc4f;
}


#signup>div {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition-duration: 0.5s;
}

#signup>div:hover {
    background-color: #cbc2f5;
    transition-duration: .5s;
    transition-timing-function: ease;
    border-right: 1.5px solid black;
}

#signup p {
    font-size: 45px;
    margin-left: 30px;
    letter-spacing: -2px;
    line-height: 45px;
    margin-bottom: 10px;
}

#signup button {
    margin-left: 30px;
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    #features>ul {
        width: 100%;
    }

    #signup > div{
        width: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    #product-features{
        display: block;
        overflow: scroll;
        overflow: -moz-scrollbars-none;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #product-features::-webkit-scrollbar {
        width: 0;
        height: 0;
        display: none;
    }

    #features{
        width: 1000px;
        border-bottom: 1px solid black;
    }

    #signup{
        height: auto;
        width: 1000px;
        height: 250px;
    }

    #signup > div{
        width: 100%;
    }
}
